html,body,h1,h2,h3,h4,h5,h6,ul,li,ol,li,dl,dt,dd,img,p,img{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  color: #fff;
  text-decoration: none;
}
body{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}
body::-webkit-scrollbar{
  width: 0;
  height: 0;
  display: none;
}
.main{
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1560px) {
  .main{
    width: 78% !important;
  }
}
@media screen and (max-width: 1300px) {
  .main{
    width: 87% !important;
  }
}
@media screen and (max-width: 1100px) {
  .main{
    width: 95% !important;
  }
}
